<%- include("header.ejs")%>

<div class="addnew" id="MainContent">
  <div class="container px-4 py-3" id="featured-3">
    <h1 class="pb-2 border-bottom" > <b>Some My Recent Blogs</b>
      </h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <% post.forEach(function(post) { %>
        <div class="feature col addnew_main">
          <h2 class=" addnew_h3"><%= post.title %></h2>
          <p><%= post.Note.substring(0, 100) + "..." %>
            <a href="/post/<%= post.id %>">Read More</a></p>       
        </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include("footer.ejs")%>
